.logo {
    font-family: 'Open Sans';
    font-size: 36px;

    .blueLogoText {
        color: #16c0f0;
    }

    .greenLogoText {
        color: #4bd18e;
    }

    .cyanLogoText {
        color: #f09116;
    }
    
    .purpleLogoText {
        color: #8a25b1;
    }
}